* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Arial MT", sans-serif;
}

.padding-site {
    padding: 4%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
    background-color: #445162;
    display: flex;
    justify-content: space-between;
}

.product-header-block {
    margin-right: 8%;
}

.product-name {
    margin-bottom: 5%;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
}

.product-describe {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}


.product-image-block {
}

.product-image {
    width: 100%;
}

main {
}

.about-product-block {
    display: flex;
}

.about-product-section {
    margin-right: 8%;
}

.about-product-head, .pluses-product-head, .screenshots-product-head {
    margin-bottom: 3%;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.about-product-text, .pluses-product-text, .screenshots-product-section-text {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.about-product-image-block {
}

.about-product-image {
}

.pluses-product-block {
    background-color: #f5f5f5;
}

.pluses-product-head {
    text-align: center;
}

.pluses-product-block ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.pluses-product-list {
    width: 48%;
    display: flex;
    margin-bottom: 2%;
}

.fa-plus-square {
    font-size: 30px;
    margin-right: 1%;
    margin-top: 3px;
}

.pluses-product-text {
}

.screenshots-product-block {
}

.screenshots-product-head {
    text-align: center;
}

.screenshots-product-wrapper{
    justify-content: space-between;
    flex-flow: wrap;
    display: flex;
}

.screenshots-product-section {
    margin-bottom: 2%;
    width: 49%;
}

.screenshots-product-image {
    float: left;
    margin-right: 2%;
}

.screenshots-product-section-head {
    margin-bottom: 1%;
    overflow: hidden;
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.screenshots-product-section-text {
    overflow: hidden;
}


@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
}


