:root {
    --main-color: #445161;
    --white-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Arial MT", sans-serif;
}

.padding-site {
    padding: 4%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
}

.product-header-block {
    margin-right: 8%;
}

.product-name {
    margin-bottom: 5%;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: var(--white-color);
    font-size: 60px;
    font-weight: 400;
}

.product-describe {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: var(--white-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}


.product-image-block {
}

.product-image {
}

main {
    flex: 1 0 auto;
}

.about-product-block {
    display: flex;
}

.about-product-section {
    margin-right: 8%;
}

.about-product-head, .pluses-product-head, .screenshots-product-head, .reviews-product-head,
.subscription-product-head,
.footer-head {
    margin-bottom: 3%;
    color: var(--main-color);
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.about-product-text, .pluses-product-text, .screenshots-product-section-text {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.about-product-image-block, .product-image-block {
    width: fit-content;
}

.about-product-image {
}

.pluses-product-block {
    background-color: #f5f5f5;
}

.pluses-product-head {
    text-align: center;
}

.pluses-product-block ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.pluses-product-list {
    width: 48%;
    display: flex;
    margin-bottom: 2%;
}

.fa-plus-square {
    font-size: 30px;
    margin-right: 1%;
    margin-top: 3px;
}

.pluses-product-text {
}

.screenshots-product-block {
}

.screenshots-product-head {
    text-align: center;
}

.screenshots-product-wrapper {
    justify-content: space-between;
    flex-flow: wrap;
    display: flex;
}

.screenshots-product-section {
    margin-bottom: 2%;
    width: 49%;
}

.screenshots-product-image {
    float: left;
    margin-right: 2%;
}

.screenshots-product-section-head {
    margin-bottom: 1%;
    overflow: hidden;
    color: var(--main-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.screenshots-product-section-text {
    overflow: hidden;
}

.reviews-product-block {
    background-color: #f5f5f5;
}

.reviews-product-block ul {
    display: flex;
    list-style-type: none;
    flex-flow: wrap;
    justify-content: space-between;
}

.reviews-product-head {
    text-align: center;
}

.reviews-product-list {
    width: 49%;
    display: flex;
    margin-bottom: 2%;
}

.reviews-product-avatar {
    margin-right: 5%;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.reviews-product-text {
    margin-bottom: 1px;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: 18px;
    display: inline-block;
    background-color: #ebebeb;
    padding: 2%;
    width: 84%;
    position: relative;
}

.reviews-product-text::before {
    content: '';
    position: absolute;
    left: -9px;
    top: 30px;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    background-color: #ebebeb;
}

.reviews-product-text span {
    display: inline-block;
    color: #989898;
    font-style: normal;
    margin-top: 1%;
}

.subscription-product-block {
}

.subscription-product-block ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.subscription-product-head {
    text-align: center;
}

.subscription-product-list {
    padding: 1%;
    background-color: var(--main-color);
    width: 30%;
    text-align: center;

}

.subscription-product-list-head {
    margin-bottom: 2%;
    color: var(--white-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.subscription-product-list-price {
    padding: 4% 0 4% 0;
    color: var(--main-color);
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    background-color: var(--white-color);
}

.subscription-product-list-option {
    padding: 4% 0 4% 0;
    color: var(--white-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.button {
    border-radius: 5px;
    display: inline-block;
    background-color: var(--white-color);
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    outline: none;
    border: none;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 400;
}


@media screen and (max-width: 992px) {
    header {
        display: inline-block;
    }

    .product-header-block {
        margin: 0;
    }

    .screenshots-product-section {
        width: 100%;
    }

    .reviews-product-list {
        width: 100%;
    }

    .subscription-product-block ul {
        flex-direction: column;
        align-items: center;
    }

    .subscription-product-list {
        width: 50%;
    }

    .subscription-product-list:nth-child(-n+2) {
        margin-bottom: 5%;
    }
}

footer {
    background-color: var(--main-color);
    flex: 0 0 auto;
    padding: 4% 0 0 0;
}


.footer-head {
    color: var(--white-color);
    text-align: center;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    padding: 0 4% 4% 4%;
}

.footer-form-block {
    text-align: center;
    margin-right: 5%;
}

.footer-form {
}

.input-name, .input-email, .input-text {
    width: 500px;
    height: 40px;
    padding-left: 2%;
    border-radius: 8px;
    outline: none;
    border: none;
    margin-bottom: 4%;
}

.input-email {
}

.input-text {
    height: 170px;
    padding-bottom: 125px;
}

.input-submit {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 140px;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

.input-submit:hover, .button:hover {
    opacity: 0.7;
}

.input-submit:active, .button:active {
    opacity: 0.5;
}

.footer-address {
}

.address-ul {
    list-style-type: none;
}

.address-list {
    display: flex;
    margin-bottom: 10px;
}

.fa-skype {
}

.fa-telegram-plane {
}

.fa-at {
}

.fa-phone {
}

.address-list-text {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
}

.address-social-ul {
    margin-top: 30px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.address-social-list {
}

.social-icons {
    color: var(--white-color);
    margin-right: 3%;
    font-size: 22px;
}

.fa-twitter-square, .fa-facebook-square, .fa-linkedin, .fa-google-plus-square, .fa-youtube-square {
    font-size: 35px;
}

.fa-twitter-square:hover, .fa-facebook-square:hover, .fa-linkedin:hover, .fa-google-plus-square:hover,
.fa-youtube-square:hover {
    opacity: 0.7;
}

.copyright-block {
    text-align: center;
    background-color: var(--white-color);
    padding: 1%;
}

.copyright-text {
    color: var(--main-color);
}


@media screen and (max-width: 768px) {
    .about-product-block {
        display: inline-block;
    }

    .about-product-image, .product-image {
        width: 100%;
    }

    .footer-form-block {
        margin-right: 0;
        margin-bottom: 5%;
        width: 100%;
    }

    .input-name, .input-email, .input-text {
        width: 100%;
    }

    .footer-address {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
    }

    .address-ul, .address-social-ul {
        flex: 1 1 auto;
    }
}

@media screen and (max-width: 576px) {
    .product-describe {
        font-size: 4vw;
    }

    .pluses-product-list {
        width: 100%;
        margin-bottom: 5%;
    }

    .screenshots-product-section {
        text-align: center;
    }

    .screenshots-product-image {
        float: none;
    }

    .reviews-product-list {
        display: inline-block;
        text-align: -webkit-center;
    }

    .reviews-product-avatar {
        margin: 0 0 20px 0;
    }

    .subscription-product-list {
        width: 100%;
    }

    .reviews-product-text::before {
        top: -10px;
        left: calc(50% - 8px);
    }
}

@media screen and (max-width: 350px) {
}


